@charset "UTF-8";

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: 'Ownglyph_hj2_first_font-Rg';
  src: url(../font/Ownglyph_hj2_first_font-Rg.woff) format('woff'),
  url(../font/Ownglyph_hj2_first_font-Rg.woff) format('truetype'),
  url(../font/Ownglyph_hj2_first_font-Rg.woff) format('svg');

}

* {  
  margin:0; 
  padding:0;
  border:0;
  text-decoration:none;
  color: #333;
  font-size: 16px;

}

html{
  scroll-behavior: smooth;  font-family: 'Noto Sans KR', sans-serif;
}


ol, ul, li {
  list-style: none;
}

a {
  color: #333; 
  cursor:pointer;
  text-decoration: none;
}

.my_font{
  font-family: 'Ownglyph_hj2_first_font-Rg';
}

.fixed {
  position: fixed;
}

.boll::before{
  content: "";
  width:10px;
  height:10px;
  background-color: #6093CD;
  border-radius: 50px;
  display: inline-block;
  margin-right:10px;
  margin-bottom: 5px;
}


.nav_bg{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgb(54 93 152 / 40%);
}

.nav_bg.active{
  display: block;
}

/* 섹션 */
section{
  padding:60px 0;
}

.section_container{   
  margin: 0 auto;
  width:1300px;
  max-width:calc(100% - 30px);
}

.section_title{
  font-size: 50px; 
  font-weight: bold;
  text-align: center;
  margin:25px auto 15px;
}

/* top 버튼 */
.up_btn{ 
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  padding:4px;
  background-color: #565656;
  border: 1px solid #444;
  border-radius: 50%;
  color:#fff;
  cursor: pointer;
  font-size: 12px;
}

.up_btn > img{ 
  filter: invert(100%) brightness(100%);
  z-index: 9999;
}


/* 헤더 */
.header{
  width:100%;
  z-index: 9999;
  position: fixed;
}

.header_bg{
  position: fixed;
  top: -100px;
  width: 100%;
  height: 70px;
  transition: all 0.5s;
  z-index: 999;
  box-shadow:0 5px 12px rgb(0 0 0 / 5%);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
}

.header_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 70px;
}

.header h1{
  rotate: -5deg;
  width:130px;
}

.header h1 img{
  width: 100%;
}


/* pc 네비 */
.pc_nav > ul {
  display: flex;
  font-size: 16px;
}

.pc_nav > ul > li {
  margin-right: 50px;
}
  
.pc_nav > ul > li:last-child{
  margin-right: 0;
}

.pc_nav > ul > li > a{
  padding:7px 2px;
}

.on{
  border-bottom: 3px solid #6093CD;
}

/* 모바일 네비 */
.mo_nav,.mo_nav_btn{
  display: none;
}

.mo_nav{
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0;
  flex-direction: column;
  background-color: #fff;
  z-index: 999;
  padding: 15px 20px;
  box-shadow: 0 12px 69px 19px rgb(48 73 110 / 80%);
}

.mo_nav.active{

  display: flex;
}

.mo_nav.active > ul{
  margin-top:40px;
}

.mo_nav li a{
  display:block;
  padding:13px 0;
  border-bottom:1px solid #cbd1d5;
  font-size: 18px;
  font-weight: 600;
  color: #2B2B2B;
}

.mo_nav li:last-child a{
  border:none;
}

.mo_nav_btn{
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url(../imges/i_menu.svg) no-repeat center;
  text-indent: -9999px;
}

.mo_nav_btn.active{
  z-index: 1000;
  background: url(../imges/i_menu_close.svg) no-repeat center;
}

/* 인트로 */
.main .main_container{
  width:100%;
  max-width: 1380px;
  margin:0 auto;
  background-image: url(../imges/main_bg.png);
  background-position:100% 55%;
  background-size: 60% 75%;
  background-repeat: no-repeat;
  padding:260px 0 270px;
  height: 100%;
  position: relative;
}

.main_left{
  transition: 3s;
  margin-left:60px;
}

.main_left > p:first-child{
  font-size: 110px;
  font-weight: 900;
  margin:40px auto 100px;
  line-height: 1;
  color:rgb(25, 25, 25)
}

.main_left p{
  font-size: 20px;
  line-height: 1;
}

.main_left .my_font{
  font-size: 36px;
  line-height: 50px;
}

.main_left span.my_font{
  margin:0 10px;
  font-size:45px;
}

/* 메인 애니메이션 */
.main_iconbox{
  position: absolute;
  top:11%;
  right:62%;
}

.main .main_container img{
  position: absolute;
}

/* 콘톱니 */
.main .main_container img.main_icon1{
  animation: icon1 2s ease infinite;
  top:20px;
  right:-520px;
}

/* 전구 */
.main .main_container img.main_icon2{
  animation: icon1 4s ease infinite;
  transform-origin: 47% 50%;
  top:266px;
  right:-300px;
}

/* 마우스 */
.main .main_container img.main_icon3{
  animation: icon1 2.5s ease infinite;
  top:30px;
  right:-360px;
}

/* 태그 */
.main .main_container img.main_icon4{
  animation: icon1 4s ease infinite;
  top:0px;
  right:-260px;
}

/* 마우스커서 */
.main .main_container img.main_icon5{
  animation: icon1 3s ease infinite;
  top:150px;
  right:-590px;
}

/* 연필 */
.main .main_container img.main_icon6{
  animation: icon2 5s ease infinite;
  top:380px;
  right:-420px;
}

/* 웹 */
.main .main_container img.main_icon7{
  animation: icon3 6s ease infinite;
  top:130px;
  right:-180px;
}

/* 폴더 */
.main .main_container img.main_icon8{
  animation: icon1 5s ease infinite;
  top:220px;
  right:-470px;
}

/* 물음표 */
.main .main_container img.main_icon9{
  animation: icon1 5s ease infinite;
  top: 355px;
  right: -480px;
}

/* 돋보기 */
.main .main_container img.main_icon10{
  animation: icon2 3s ease infinite;
  top:260px;
  right:-150px;
  rotate: 20deg;
}

/* 작은톱니 */
.main .main_container img.main_icon11{
  animation: icon1 5s ease infinite;
  top:400px;
  right:-200px;
}

@keyframes icon1{
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}


@keyframes icon2{
  0% {
    transform: translateY(20px) rotate(-10deg);
  }
  50% {
    transform: translateY(15px) rotate(10deg);
  }
  100% {
    transform: translateY(20px) rotate(-10deg);
  }
}

@keyframes icon3{
  0% {
    transform: translateY(20px) rotate(5deg);
  }
  50% {
    transform: translateY(15px) rotate(-5deg);
  }
  100% {
    transform: translateY(20px) rotate(5deg);
  }
}

/* about me */
.introduce{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:45px auto 10px;
}

.introduce_left{
  width: 30%;
}

.introduce_right{
  width:60%;
  display: flex; 
  flex-direction: column;
  margin:30px 0;
}

.introduce_right p{
  font-size: 17px;
}

.resume{
  display: flex;  
}

.resume > img{
  width:40px;
  height:37px;
  rotate:-20deg; 
}

.resume > p{
  font-size: 30px;
  font-weight: bold;
  color:#000;
  margin-right:15px;
}

.introduce_left a {
  display: block;
  width:100%;
  margin:0 auto;
  border-radius: 50%;
}

.introduce_left a > img{
  width:100%;
  margin:0 auto;
  border-radius: 50%;
}
.introduce_left:hover .resume > p{
  animation: resume 3s infinite;
}

@keyframes resume{
  0%{
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(40deg);
  }
  35%{
    transform:rotate(-40deg);
  }
  45%{
    transform:rotate(35deg);
  }
  60%{
    transform:rotate(-40deg);
  }
  80%{
    transform:rotate(40deg);
  }
  100%{
    transform:rotate(0deg);
  }
}

.introduce_left .introduce_con{
  width:65%;
  display: flex;
  flex-direction: column;  
  margin:55px auto 0;
}

.introduce_con h4{
  font-size: 20px;
  color:#000;
  margin-bottom:15px;
}

.introduce_con > p{
  font-size: 18px;
  line-height: 26px;
}

.introduce_con.about_me{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
}

.introduce_con.about_me > div{  
  margin-bottom: 70px;
}

.introduce_con .experience p{
  line-height: 10px;
}

.introduce_con .experience p::before{
  content: "";
  display: inline-block;
  width:10px;
  height:10px;
  margin-right:10px;
  background-color: #6093CD;
  border-radius:50px;
}
.introduce_con .experience p::after{    
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  margin: 3px;
  background-color:#6093CD;
}

.introduce_con p:last-child:after{
  display: none;
}

.introduce_con:last-child span{
  color:rgb(163, 163, 163);
  font-size: 15px;
}

.introduce_left .introduce_con.hashtag{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:12px auto;
}

/* skill */
.skill li{
  margin-bottom: 23px;
}

.skill p:first-child{
  font-size: 18px;
}

.skill p::before{
  content: "✔";
  font-size: 18px;
  margin-right: 8px;;
  color:#6093CD;
}

/* hashtag */
.hashtag{
  display: flex;
  margin-top:20px;
  justify-content: space-around;
}

.hashtag > p{
  margin:0 20px;
  border-bottom: 1px solid #6093CD;
  color:#6093CD;
  padding:0px 5px;
}

.hashtag > p::before{
  display: none !important;
}

.hashtag > p:first-child{
  margin-left:0;
}

/* work */
.work{
  background: url(../imges/work_bg.png) no-repeat;
  background-size: cover;
}

.tip{
  font-size: 14px;
  color: #6093CD;
  text-align: center;
}

.work_categories{
  margin: 40px;
  display: flex;
  justify-content: center;
}
.work_categories li {
  margin: 0 10px;
}
.category_btn{
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  border-radius:50px;
  background-color:rgb(233, 233, 233);
  font-size: 17px;
  box-shadow: 1px 4px 6px 0px #ccc;
  transition: 0.5s;
  cursor: pointer;
}

.category_btn.selected,
.category_btn:hover {
  background-color:#6093CD;
}
.work_projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.work_projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 300ms ease-out;
  padding-bottom: 40px;
}

.project{
  width:400px; 
  max-width:calc(100% - 10px);
  margin-top:30px;
  display: flex;
  flex-direction: column;
  transition: all 300ms ease;
  transition-duration: 0.5s;
  transform: translateY(10px);  
  box-shadow: 0 4px 11px 0 #cbd1d5;
  background-color: #FFF;
  border-radius: 20px;
  overflow: hidden;
}
.project:hover{
  transform: translateY(0px);
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%);
}
.project.invisible {
  display: none;
}
.project > p{
  width:100%;
}
.project_img{
  width:100%;
  height:200px;  
  overflow: hidden;
  box-shadow:  0px 4px 31px 18px rgb(0 0 0 / 5%);
}
.project_img img{
  width:100%;
}
.project_text{
  padding:25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.project_text > div{
  display: flex;
  justify-content: space-between;
}

.project_text p:last-child span{
  border-radius: 50px;;
  border:1px solid #6093CD;
  padding:5px 10px;
  font-size: 14px;
  margin:1px;
}

.project_text p:last-child span:first-child{
  margin-left:0;
}

.ex{
  font-size: 12px;
  color:#6093CD;
}

.project_btn{
  max-width: 150px;
  width:100%;
  border-radius: 13px;
  background-color: rgb(237, 237, 237);
  padding:7px 14px;
}
.project_btn:hover{
  background-color: #6093CD;
}

.project_title{
  font-size: 18px;
  font-weight: bold;
}

/* contact 
.contact{
  background-color: #eff5ff;
}
.contact_box{
  text-align: center;
  padding:50px 0 0;
}
.contact_box p{
  font-size: 20px;
}
.contact_box ul{
  padding:30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact_box ul li{
  display: flex;
  align-items: center;
}
.contact_box ul li p{
  padding:0 10px;
}
.contact_img{
  max-width: 120px;
  width:calc(100% - 10px);
}
.contact_img img{
  width:100%;
}
*/

/* footer */
footer{
  width:100%; 
  background-color: #d5e7ff;
}

footer .section_container{
  padding:25px 0;
}

footer p{ 
  text-align: center; 
  font-size: 14px;
  color:#565656
}


/* 모바일 */
@media screen and (max-width: 1130px) {
  .main .main_container{
    background-image: url(../imges/mo_main_bg.png);
    background-position: 50% 55%;
    padding:50px 0;
    text-align: center;
    background-size: 80%;
    max-width: 380px;
  }

  .main_left p{
    font-size: 16px;
  }

  .main_iconbox{
    position: absolute;
    top: 20%;
    right: 100%;
  }
  
  
  .main_left{
    display: flex;
    flex-direction: column;
    margin-left:0;
  }

  .main_left > p:first-child{
    font-size: 55px;
    margin:0 0 480px;
  }
  
  .main_left .my_font{
    font-size: 26px;
  }
  
  /* 콘톱니 */
  .main .main_container img.main_icon1{
    width:50px;
    top:35px;
    right:-310px;
  }
  
  /* 전구 */
  .main .main_container img.main_icon2{
    width:45px;
    top:180px;
    right:-190px;
  }
  
  /* 마우스 */
  .main .main_container img.main_icon3{
    width:55px;
    top:0px;
    right:-240px;
  }
  
  /* 태그 */
  .main .main_container img.main_icon4{
    width:70px;
    top:20px;
    right:-150px;
  }
  
  /* 마우스커서 */
  .main .main_container img.main_icon5{
    width:55px;
    top:90px;
    right:-340px;
  }
  
  /* 연필 */
  .main .main_container img.main_icon6{
    width:80px;
    top:190px;
    right:-310px;
  }
  
  /* 웹 */
  .main .main_container img.main_icon7{
    width:110px;
    top:90px;
    right:-135px;
  }
  
  /* 폴더 */
  .main .main_container img.main_icon8{
    width:55px;
    top:150px;
    right:-280px;
  }
  
  /* 물음표 */
  .main .main_container img.main_icon9{
    width:45px;
    top: 200px;
    right: -350px;
  }
  
  /* 돋보기 */
  .main .main_container img.main_icon10{
    width:55px;
    top:170px;
    right:-110px;
  }
  
  /* 작은톱니 */
  .main .main_container img.main_icon11{
    width:45px;
    top:250px;
    right:-130px;
  }


}

@media screen and (max-width: 1100px) {
  .section_title{
    font-size: 30px;
  }
  .introduce{
    flex-direction: column;
    align-items: center;
  }  
  
  .introduce_right{
    width: 90%;
  }
  .introduce_left{
    width: 70%;
  }

  .introduce_left a{
    width:60%;
  }
  
  .introduce_con h4{
    text-align: center;
  }
}

@media screen and (max-width: 880px) {
  
  .main .main_container{
    background-size: 80%;
  }
  
  .contact_box ul li{
    flex-direction: column;
  }
  
  .contact_box ul li{
    margin:20px 0; 
  }
}

@media screen and (max-width: 768px) {
  .header_bg,.header_box{
    height: 60px;
  }

  .pc_nav{
    display: none;
  }
  
  .mo_nav_btn{
    display: block;
  }
}

@media screen and (max-width: 730px) {

  .header h1 img{
    width: 50%;
  }
  .introduce_left,.introduce_right{
    width: 90%;
  }

  .introduce_con.about_me{
    flex-direction: column;
  }

  .introduce_left a{
    width:65%;
  }
}

@media screen and (max-width: 500px) {
  .contact_box ul{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start
  }

  .contact_box ul li{
    flex-direction: row;
  }

}



/* 서브페이지 공통 */
.subpage{
    background-color: #f9f9f9;
}
.subpage_container{
  max-width: 1800px;
  width:100%;
  margin:0 auto;
}
.subpage h1,h2{
  color:#2a2a2a;
  font-size: 22px;
}
.subpage h1{
  margin: 30px 0;
  text-align: center;
  font-size: 30px;
}